<!DOCTYPE html>
<html>
  	<head>
	    <title>Crumblr</title>
	    <%= csrf_meta_tags %>

	    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	  </head>

	  <body>
	  <div class="container">
	  	<div class="page-header">
	  	
	  	
		 <ul class="nav nav-pills pull-right">
		  	<li>
		  		<%= link_to "Welcome", "/" %>
		  	</li>
		  	<li> 
		  		<%= link_to "About" , "/about" %>
		  	</li>
		</ul>
			<h1>
	  			<%= link_to "crumblr" , '/' %>
	  			<small>// home baked goodness</small>
	  		</h1>
	  	</div>

		<div class="row">
	  		<div class="col-md-6 col-md-offset-3">

	    	<%= yield %>
	    	</div>
	    </div>
	    
	   </div>
	  </body>
</html>
