<!DOCTYPE html>
<html>
  	<head>
	    <title>Crumblr</title>
	    <%= csrf_meta_tags %>

	    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	  </head>

	  <body>
	  	<%= link_to "Welcome", "/" %>
	  	<%= link_to "About" , "/about" %>
	    <%= yield %>
	  </body>
</html>
